<div class="grid-menu">
<table>
    <tr>
      <td><%= link_to image_tag("/category-images/audiophile.png"),  controller: "categories", action: "show", id: "1" %></td>
      <td><%= link_to image_tag("/category-images/auto.png"), controller: "categories", action: "show", id: "2" %></td>
      <td><%= link_to image_tag("/category-images/beauty.png"), controller: "categories", action: "show", id: "3" %></td>
      <td><%= link_to image_tag("/category-images/blade.png"), controller: "categories", action: "show", id: "4" %></td>
      <tr>
        <td><%= link_to image_tag("/category-images/cooking.png"), controller: "categories", action: "show", id: "5" %></td>
        <td><%= link_to image_tag("/category-images/diytech.png"), controller: "categories", action: "show", id: "6" %></td>
        <td><%= link_to image_tag("/category-images/everyday-carry.png"), controller: "categories", action: "show", id: "7" %></td>
        <td><%= link_to image_tag("/category-images/hobbyshop.png"), controller: "categories", action: "show", id: "8" %></td>
      </tr>
      <td><%= link_to image_tag("/category-images/mechkey.png"), controller: "categories", action: "show", id: "9" %></td>
      <td><%= link_to image_tag("/category-images/menapparel.png"), controller: "categories", action: "show", id: "10" %></td>
      <td><%= link_to image_tag("/category-images/mens-acc.png"), controller: "categories", action: "show", id: "11" %></td>
      <td><%= link_to image_tag("/category-images/outdoors.png"), controller: "categories", action: "show", id: "12" %></td>
    </tr>
    <td><%= link_to image_tag("/category-images/photography.png"), controller: "categories", action: "show", id: "13" %></td>
    <td><%= link_to image_tag("/category-images/tech.png"), controller: "categories", action: "show", id: "14" %></td>
    <td><%= link_to image_tag("/category-images/ultralight.png"), controller: "categories", action: "show", id: "15" %></td>
    <td><%= link_to image_tag("/category-images/watches.png"), controller: "categories", action: "show", id: "16" %></td>
</table>
</div>
