<div class="make-product" style="margin-bottom: 20px;">
    <%= link_to "Start a new poll", products_new_path, class: "form-control", method: :get %>
</div>

<div style="width: 1300px; text-align: center; margin-left: 15%; float: left; margin-top: 20px;">
  <div style="height: 376px; background-color: white;">
    <div style="padding: 20px;">

      <div style="height: 48px; width: 100%; color: black; float: left;">title
      <div style="height: 21px;"> - by XYZ</div>
    </div>

<div style="height: 273px; margin-top: 15px;">

<div style="float: right; display: inline-block; height: 100%; width: 77%;">
  <div style="float: left; width: 100%;">
    <span  style="float: left;">OPTIONS</span><br/>

    <span style="float: left;"><b>1st</b></span><br/>
    <span style="float: right;">9999 votes</span>
    <span style="float: left;">Base kit</span><br/>
    <div class="progress" style="height: 7px;">
  <div class="progress-bar" role="progressbar" style="width: 99%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<span style="float: left;"><b>1st</b></span><br/>
    <span style="float: right;">9999 votes</span>
    <span style="float: left;">Base kit</span><br/>
    <div class="progress" style="height: 7px;">
  <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<span style="float: left;"><b>1st</b></span><br/>
    <span style="float: right;">9999 votes</span>
    <span style="float: left;">Base kit</span><br/>
    <div class="progress" style="height: 7px;">
  <div class="progress-bar" role="progressbar" style="width: 69%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>

</div>
  <%= button_to "+XX OTHER OPTIONS", "#", style: "float:left; width: 300px;", class: "form-control" %>
</div>

  <div style="width: 273px; height: 100%;">
    <%= image_tag "/default-image-253.jpg", alt: "Error" %>
  </div>
</div>

  </div>
</div>
</div>
#

<div style="width: 1300px; text-align: center; margin-left: 15%; float: left; margin-top: 20px;">
  <div style="height: 376px; background-color: white;">
    <div style="padding: 20px;">

      <div style="height: 48px; width: 100%; color: black; float: left;">title
      <div style="height: 21px;"> - by XYZ</div>
    </div>

<div style="height: 273px; margin-top: 15px;">

<div style="float: right; display: inline-block; height: 100%; width: 77%;">
  <div style="float: left; width: 100%;">
    <span  style="float: left;">OPTIONS</span><br/>

    <span style="float: left;"><b>1st</b></span><br/>
    <span style="float: right;">9999 votes</span>
    <span style="float: left;">Base kit</span><br/>
    <div class="progress" style="height: 7px;">
  <div class="progress-bar" role="progressbar" style="width: 99%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<span style="float: left;"><b>1st</b></span><br/>
    <span style="float: right;">9999 votes</span>
    <span style="float: left;">Base kit</span><br/>
    <div class="progress" style="height: 7px;">
  <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<span style="float: left;"><b>1st</b></span><br/>
    <span style="float: right;">9999 votes</span>
    <span style="float: left;">Base kit</span><br/>
    <div class="progress" style="height: 7px;">
  <div class="progress-bar" role="progressbar" style="width: 69%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>

</div>
  <%= button_to "+XX OTHER OPTIONS", "#", style: "float:left; width: 300px;", class: "form-control" %>
</div>

  <div style="width: 273px; height: 100%;">
    <%= image_tag "/default-image-253.jpg", alt: "Error" %>
  </div>
</div>

  </div>
</div>
</div>






<div style="padding-bottom: 700px; float: bottom;"></div>


