<div class="menu">
  <span class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t "header.menu_communities" %></a>
      <ul class="dropdown-menu">
        <%= render "categories/category" %>
      </ul>
  </span>
  <%= link_to t("header.menu_new"), "#" %>
  <%= link_to t("header.menu_gb"), "#" %>
  <%= link_to t("header.menu_talk"), "#" %>
  <%= link_to t("header.menu_polls"), "#" %>
</div>
